---
 - host_group: master
   - res_group_name: openstack
   - res_group_name: aws
 - host_group: nodes
   - res_group_name: gce
   - count: 2
 - host_group: OSEv3

------------------------------
****
 - openstack:
   - host_group: master
     - count: 2
   - host_group: OSEv3
     - count: all
 - gce:
   - host_group: nodes
     - count: 3
 - aws:
   - host_group: master
   - host_group: repo_host


 - master:
   - vars:
     openshift_override_hostname_check: true

 - nodes:
   - vars:

