include requirements.txt
include README.rst
include LICENSE

include linchpin/linchpin.constants

recursive-include docs *
recursive-include linchpin/examples *
recursive-include linchpin/templates *
recursive-include linchpin/defaults *
recursive-include linchpin/provision *
recursive-include linchpin/schemas *

