setuptools>=40.8.0
pyopenssl>=17.5.0
boto>=2.49.0
boto3>=1.9.96
apache-libcloud>=0.20.1
click>=7.0
yamlordereddictloader>=0.4.0
ansible>=2.7.1
six>=1.10.0
shade>=1.30.0
naked>=0.1.31
Cerberus>=1.2
tinydb>=3.12.2
requests>=2.21.0
ipaddress>=1.0.17
PyYAML>=3.12
jinja2>=2.10
configparser>=3.5.0
openshift>=0.8.6
pyasn1>=0.1.9
pycrypto>=2.6.1
