setuptools>=17.1
jinja2==2.8
requests==2.10.0
pyopenssl
ndg-httpsclient
boto>=2.40.0
apache-libcloud>=0.20.1
jsonschema>=2.5.1
yamlordereddictloader
shade>=1.9.0
python-openstackclient
click
tabulate
camel
ansible==2.2.1
