setuptools>=17.1
jinja2==2.8
pyopenssl
ndg-httpsclient
boto>=2.40.0
apache-libcloud>=0.20.1
jsonschema>=2.5.1
shade>=1.9.0
python-openstackclient
click
tabulate
ansible==2.2.1
beaker-client==23.3
sphinx_rtd_theme
libvirt-python>=3.0.0
yamlordereddictloader
libvirt-python>=3.0.0
yamlordereddictloader
