lang en_US.UTF-8
skipx
keyboard us
network --device eth0 --bootproto dhcp
rootpw --plaintext testingpassword
firewall --disabled
authconfig --enableshadow --enablemd5
selinux --permissive
timezone --utc Europe/Prague

bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
autopart
# Disk partitioning information
reboot

install
