This XML file does not appear to have any style information associated with it. The document tree is shown below.
<flow-definition plugin="workflow-job@2.17">
<actions>
<org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.7"/>
<org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.17">
<jobPropertyDescriptors>
<string>
org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty
</string>
<string>
com.coravy.hudson.plugins.github.GithubProjectProperty
</string>
<string>jenkins.model.BuildDiscarderProperty</string>
</jobPropertyDescriptors>
</org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
<org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.7">
<jobProperties/>
<triggers/>
<parameters/>
</org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
</actions>
<description/>
<keepDependencies>false</keepDependencies>
<properties>
<io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty plugin="openshift-sync@1.0.7">
<uid/>
<namespace/>
<name/>
<resourceVersion/>
</io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty>
<com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.3">
<gitLabConnection/>
</com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
<com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
<autoRebuild>false</autoRebuild>
<rebuildDisabled>false</rebuildDisabled>
</com.sonyericsson.rebuild.RebuildSettings>
<hudson.model.ParametersDefinitionProperty>
<parameterDefinitions>
<hudson.model.StringParameterDefinition>
<name>ghprbActualCommit</name>
<description/>
<defaultValue/>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>ghprbGhRepository</name>
<description/>
<defaultValue>CentOS-PaaS-SIG/linchpin</defaultValue>
</hudson.model.StringParameterDefinition>
</parameterDefinitions>
</hudson.model.ParametersDefinitionProperty>
<org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
<triggers>
<org.jenkinsci.plugins.ghprb.GhprbTrigger plugin="ghprb@1.40.0">
<spec>H/5 * * * *</spec>
<configVersion>3</configVersion>
<adminlist/>
<allowMembersOfWhitelistedOrgsAsAdmin>false</allowMembersOfWhitelistedOrgsAsAdmin>
<orgslist>CentOS-PaaS-SIG</orgslist>
<cron>H/5 * * * *</cron>
<buildDescTemplate/>
<onlyTriggerPhrase>false</onlyTriggerPhrase>
<useGitHubHooks>true</useGitHubHooks>
<permitAll>true</permitAll>
<whitelist/>
<autoCloseFailedPullRequests>false</autoCloseFailedPullRequests>
<displayBuildErrorsOnDownstreamBuilds>false</displayBuildErrorsOnDownstreamBuilds>
<whiteListTargetBranches>
<org.jenkinsci.plugins.ghprb.GhprbBranch>
<branch/>
</org.jenkinsci.plugins.ghprb.GhprbBranch>
</whiteListTargetBranches>
<blackListTargetBranches>
<org.jenkinsci.plugins.ghprb.GhprbBranch>
<branch/>
</org.jenkinsci.plugins.ghprb.GhprbBranch>
</blackListTargetBranches>
<gitHubAuthId>850beefe-c0bb-4b24-8b34-2d9a50954dd5</gitHubAuthId>
<triggerPhrase>.*\[release\].*</triggerPhrase>
<skipBuildPhrase>.*\[skip\W+ci\].*</skipBuildPhrase>
<blackListCommitAuthor/>
<blackListLabels/>
<whiteListLabels/>
<includedRegions/>
<excludedRegions/>
<extensions>
<org.jenkinsci.plugins.ghprb.extensions.status.GhprbSimpleStatus>
<commitStatusContext/>
<triggeredStatus/>
<startedStatus/>
<statusUrl/>
<addTestResults>false</addTestResults>
</org.jenkinsci.plugins.ghprb.extensions.status.GhprbSimpleStatus>
</extensions>
</org.jenkinsci.plugins.ghprb.GhprbTrigger>
</triggers>
</org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
</properties>
<definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.45">
<scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
<configVersion>2</configVersion>
<userRemoteConfigs>
<hudson.plugins.git.UserRemoteConfig>
<refspec>
+refs/heads/*:refs/remotes/origin/* +refs/pull/*:refs/remotes/origin/pr/*
</refspec>
<url>https://github.com/CentOS-PaaS-SIG/linchpin</url>
</hudson.plugins.git.UserRemoteConfig>
</userRemoteConfigs>
<branches>
<hudson.plugins.git.BranchSpec>
<name>${ghprbActualCommit}</name>
</hudson.plugins.git.BranchSpec>
</branches>
<doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
<submoduleCfg class="list"/>
<extensions/>
</scm>
<scriptPath>config/Dockerfiles/JenkinsfileGHReleaseTrigger</scriptPath>
<lightweight>true</lightweight>
</definition>
<triggers/>
<disabled>false</disabled>
</flow-definition>
