- name: Delete managed disk
  azure_rm_manageddisk:
    ad_user: "{{ auth_var['user'] | default(omit) }}"
    password: "{{ auth_var['password'] | default(omit) }}"
    client_id: "{{ auth_var['client_id'] | default(omit) }}"
    tenant: "{{ auth_var['tenant'] | default(omit) }}"
    secret: "{{ auth_var['secret'] | default(omit) }}"
    subscription_id: "{{ auth_var['subscription_id'] | default(omit) }}"
    name: "{{ nameOfvm +'.vhd'| default(omit) }}"
    resource_group: "{{ res_def['resource_group'] | default(omit) }}"
    state: absent
  when: res_def['deepclean'] is defined and res_def['deepclean'] == true
  ignore_errors: yes