---
- name: "get mac addr"
  shell: "python -c 'from uuid import getnode as get_mac; print get_mac()'"
  register: macid_output

# the PinFile isn't technically used in an ansible-playbook run,
# so we'll say this is an 'ansible-playbook' target
- name: set PinFile target
  set_fact:
    target: ansible-playbook

- name: set rundb_connect value
  set_fact:
    rundb_conn: "{{ rundb_conn | regex_replace('::mac::', macid_output.stdout) }}"
  when: rundb_conn_type == "file"

- name: "initialize rundb"
  rundb:
    conn_str: "{{ rundb_conn }}"
    operation: init
    table: "{{ target }}"
    value: "{{ rundb_schema }}"
  register: run_id

- name: "assign rundb_id"
  set_fact:
    rundb_id: "{{ run_id.output }}"

- name: "assign rundb_id"
  set_fact:
    start_time: "{{ dateformat | strftime }}"

- name: "record start time"
  rundb:
    conn_str: "{{ rundb_conn }}"
    operation: update
    table: "{{ target }}"
    key: "start"
    value: "{{ start_time }}"
    run_id: "{{ rundb_id }}"

- name: "record topology_file"
  rundb:
    conn_str: "{{ rundb_conn }}"
    operation: update
    table: "{{ target }}"
    key: "inputs"
    value: [{ 'topology_file': "{{ topology_file }}" }]
    run_id: "{{ rundb_id }}"

- name: "record action"
  rundb:
    conn_str: "{{ rundb_conn }}"
    operation: update
    table: "{{ target }}"
    key: "action"
    value: "{{ (state == 'absent') | ternary('destroy', 'up') }}"
    run_id: "{{ rundb_id }}"

- name: "generate LinchPin Unique-ish ID if action is up"
  set_fact:
      uh: "{{ [target,rundb_id,start_time] | join(':') | hash('sha256') }}"
  when: state == "present"

- name: "get uhash with last 4 of uh var"
  set_fact:
    uhash: "{{ uh[-4:] }}"
  when: state == "present"

- name: "set unique-ish hash into rundb"
  rundb:
    conn_str: "{{ rundb_conn }}"
    operation: update
    table: "{{ target }}"
    key: "uhash"
    value: "{{ uhash }}"
    run_id: "{{ rundb_id }}"

