---
openshift-new:
  topology:
    topology_name: openshift
    resource_groups:
      - resource_group_name: test1
        resource_group_type: openshift
        resource_definitions:
          - name: hellopod
            role: openshift_inline
            namespace: continuous-infra
            definition:
              kind: Pod
              apiVersion: v1
              metadata:
                name: helloopenshift
                labels:
                  name: helloopenshift
              spec:
                containers:
                - name: helloopenshift
                  image: openshift/hello-openshift
                  ports:
                  - containerPort: 8080
                    protocol: TCP
                  resources: {}
                  volumeMounts:
                  - name: tmp
                    mountPath: /tmp
                  terminationMessagePath: /dev/termination-log
                  imagePullPolicy: IfNotPresent
                  capabilities: {}
                  securityContext:
                    capabilities: {}
                    privileged: false
                volumes:
                - name: tmp
                  emptyDir: {}
                restartPolicy: Always
                dnsPolicy: ClusterFirst
                serviceAccount: ''
                status: {}
        credentials:
          filename: upshift.yaml # fetched from --creds-path is provided
          profile: default
