#The following example illustrates the linchpinfile , ie., lpf
#SYNTAX:
#component_name:
#    topology_name: <string>  # refers to the name topology file either in package or local topologies folder
#    inventory_layout: <string> # refers to name of the inventory layout in package or local layouts folder
#on linchpin rise ,  the folder structure is created as follows
# component_name:
# ---- outputs
# ---- keystore
# ---- inventory
across2clouds:
 topology: openshift_aws_5node
 inventory: openshift_layout_with_5nodes

dockercontainer:
 topology: herlo_docker_stuff
 layout: herlo_docker_stuff
