- name: "fetch beaker details"
  bkr_info:
    ids: "{{ item }}"
  with_items: "{{ bkr_result.ids }}"
  register: _topology_outputs_beaker_server

- name: "append beaker outputs"
  set_fact:
    topology_outputs_beaker_server: "{{ topology_outputs_beaker_server + item.hosts }}"
  with_items: "{{ _topology_outputs_beaker_server.results }}"
